body {
    margin: 0px;
    padding: 0px;
}

canvas {
    display: flex;
    outline: 2px solid black;
    width: 400;
    height: 400;
    margin: 0 auto;
}

.fill-color {
    display: flex;
    justify-content: center;
}

.file-upload {
    display: flex;
    margin: 0 auto;
}

.file-download {
    display: flex;
    justify-content: center;
}

.text-edit {
    display: flex;
    margin: 0 auto;
}

.social-share-btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}

@media (max-width: 760px) {
    body {
        background-color: lightsalmon;
    }
    /* .first-paragraph {
        margin: 0 0 1.5625rem;
    }
    .second-paragraph {
        margin: 0 0 2.25rem;
    }
*/
}

@media (min-width: 760px) {
    body {
        background-color: lightblue;
    }
    /* .artical img {
        margin-right: 5rem;
    } */
}

@media (min-width: 1060px) {
    body {
        background-color: yellow;
    }
    /* .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .content>h2 {
        margin: 0 0 2.5625rem;
    } */
}

.hide {
    display: none;
}