@import url(../lib/bs4/css/bootstrap.min.css);
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

canvas {
    display: flex;
    outline: 2px solid black;
    width: 60%;
    height: auto;
    margin: 0 auto;
    /* padding: 0 15vw 0 15vw; */
}

.addLine {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.fill-color {
    justify-content: center;
}

.file-upload {
    display: flex;
}

.file-download {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.text-add {
    display: flex;
    margin: 0 auto;
}

.text-edit {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.social-share-btn {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}

@media (max-width: 760px) {
    /* body {
        background-color: lightsalmon;
    } */
    .fill-color {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        flex-grow: 0;
    }
    .text-edit {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
    }
}

@media (min-width: 760px) {
    /* body {
        background-color: lightblue;
    } */
    .text-edit {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        padding: 0 35vw 0 35vw
    }
    .fill-color {
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}

@media (min-width: 1060px) {
    /* body {
        background-color: yellow;
    } */
    /* .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .content>h2 {
        margin: 0 0 2.5625rem;
    } */
}

.hide {
    display: none;
}